[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openpyxl = "*"
sqlalchemy = "*"
xlsxwriter = "*"
msaccessdb = "*"
pyinstaller = "*"
pypyodbc = "*"

[dev-packages]

[requires]
python_version = "3.9"
